@import "index.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #fff;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  color: var(--dark-color);
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__user-img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav__user-img img {
  width: 70px;
}

.nav__user-name {
  cursor: auto;
  display: block;
  font-size: var(--nav-name-font-size);
  color: var(--white-color);
}

.nav__menu-item {
  margin-bottom: 2rem;
}

.nav__menu-item-link {
  color: var(--first-color-light);
}

.nav__menu-item-link:hover {
  cursor: pointer;
  color: var(--white-color);
}

.active {
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
    overflow-y: auto;
  }

  .show {
    left: 0;
  }
}
